/* CSS declarations go here */

body{
margin-left:50px;
margin-right:50px;
}

#board ul{
margin: 0; 
padding: 0; 
list-style-position: inside;
list-style-type: none;
text-align:center;
}

#board li{ 
display: inline; 
padding: 0; 
width : 100px;
margin-right: 10px;
margin-bottom: 10px; 
float: left;
border:2px ridge #001111;
}

img#image:hover {
cursor:pointer;    
}

